.root {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
	min-height: 300px;
}

.rootWrapper {
	position: relative;
	width: 100%;
	min-height: 300px;
}

.svgWrapper {
	position: absolute;
	width: 100%;
	height: 100%;

	& svg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;

		& path {
			opacity: 0;

			&:hover {
				opacity: 0.5;
			}
		}
	}
}

.tower {
	width: 100%;
	height: 100%;
	border-radius: 24px;
	object-fit: cover;
}

.textWrappers {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.title {
	font-size: 20px;
	line-height: 32px;
	font-weight: 500;
}